
<table>
  <tr><td>Name:</td><td><%= @student.name %></td></tr>
  <tr><td>Address:</td><td><%= @student.address %></td></tr>
  <tr><td>Birthday:</td><td><%= @student.birthday %></td></tr>

  <tr><td><%= link_to 'Edit', edit_student_path(@student.id) %></td></tr>
</table>
