<div id="sub_form">
     <%= label_tag "Sub Option" %>
     <br>
     <%= text_field_tag "sub_options[]" %><button type="button" name="button" onclick="removeSub($(this))">X</button>
     <br>
</div>
