
<%= form_for @professor do |f| %>
  <p>
    <%= fields_for @professor.user.nil? ? :user : @professor.user do |user_f| %>
      <%= render "users/user_fields", :f => user_f %>
    <% end %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
