<%= form_for @professor, html: {class: 'form-horizontal'} do |f| %>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= fields_for @professor.user.nil? ? :user : @professor.user do |user_f| %>
        <%= render "users/user_fields", :f => user_f %>
      <% end %>

      <%= f.submit "Save", class: "btn btn-default" %>
    </div>
  </div>

<% end %>
