<h1><%= @activity_category.name %></h1>

<table>
  <tr><td>Category:</td><td><%= @activity_category.name %></td></tr>
  <tr><td><%= link_to 'Edit', edit_activity_category_path(@activity_category.id) %></td></tr>
</table>
