<section class="container-fluid">
  <h1><%= @activity_category.name %></h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table">
        <tbody>
          <tr>
            <td>Category:</td>
            <td><%= @activity_category.name %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to '<button class="btn btn-default" name="button">Edit</button>'.html_safe, edit_activity_category_path(@activity_category.id) %>


</section>
