/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body {
	text-align: center;
	font-family: sans-serif;
	background-color: #68cbff;
}

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #253afc;
    opacity:  0.5;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #253afc;
   opacity:  0.5;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #253afc;
   opacity:  0.5;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #253afc;
   opacity:  0.5;
}


.btn.btn-circle {
	width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  border-radius: 50%;
}

.logo {
	width: 65px;
	height: 65px;
	text-align: center;
	padding: 13px 0;
	font-size: 40px;
	border-radius: 50px;
	background-color: #337ab7;
	color: white;
}

.logo-nav {
	text-align: center;
	font-size: 22px;
	// border-radius: 50px;

}


.navbar-default {
	background-color: #ffc834;
  border-color: #ffbb04;
}

.navbar-default .navbar-nav > li > a,,
.navbar-default .navbar-nav > li > a:focus {
  color: #253afc;
	font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #253afc;
  background-color: #ff8c04;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #253afc;
  background-color: #ff8c04;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #337ab7;
  background-color: #fff;
}

.dropdown-menu {
  border: 1px solid #1555a0;
}

.dropdown-menu > li > a {
  color: #253afc;
}

.navbar-default .navbar-toggle {
  border: 1px solid #253afc;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  // background-color: #438ac7;
  background-color: #ff8c04;
}

.navbar-default .navbar-toggle .icon-bar {
  color: #253afc;
  background-color: #253afc;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #ffbb04;
}

.dropdown-menu {
  border: 1px solid #1555a0;
}

.dropdown-menu > li > a {
  color: #337ab7;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #438ac7;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #337ab7;
  background-color: #fff;
}