body {
	text-align: center;
	font-family: sans-serif;
}

.btn.btn-circle {
	width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  border-radius: 50%;
}

.logo {
	width: 65px;
	height: 65px;
	text-align: center;
	padding: 15px 0;
	font-size: 32px;
	border-radius: 50px;
	background-color: #3655d8;
	color: white;
}

.logo-nav {
	text-align: center;
	font-size: 22px;
	// border-radius: 50px;

}
