// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail.std_img {
  margin-bottom: 5%;
}

.std_img::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.std_img:hover {
  -webkit-transform: scale(.98,.98);
  transform: scale(.98,.98);
  cursor: pointer;
}

.std_container {
  margin-bottom: 15%;
}

@media (min-width: 992px) {
  .std_label {
    min-height: 2vw;
    font-size: 1vw;
  }
}

@media (max-width: 991px) {
  .std_label {
    min-height: 2vw;
    font-size: 2vw;
  }
}

@media (max-width: 531px) {
  .std_label {
    min-height: 2vw;
    font-size: 3vw;
  }
}


.std_icons {
  float: left;
}


// a.selected {
//   border-color: #337ab7;
//   border: solid 2px;
//   -webkit-transform: scale(.96,.96);
//   transform: scale(.96,.96);
// }
//
// .std_link:hover::after {
//   opacity: 1;
// }

.absence {
  border: solid 1px #b7337a;
  border-radius: 25%;
  padding-right: 2%;
  padding-left: 2%;
  float: right;
  margin-bottom: 2%;
  color: #fff;
  background-color: #b7337a;
  font-size: 74%;
}

.absence:hover {
  color: #b7337a;
  background-color: #fff;
}

.presence {
  border: solid 1px #33b77a;
  border-radius: 25%;
  padding-right: 3%;
  padding-left: 3%;
  float: right;
  margin-bottom: 2%;
  color: #fff;
  background-color: #33b77a;
  font-size: 74%;

}

.presence:hover {
  color: #33b77a;
  background-color: #fff;
}

.report-form {
  display: none;
}

@media (min-width: 768px) {
  .right_forms {
    height: 36vh;
    overflow-y: scroll;
  }
}


.right_forms .messages {
  display: none;
}

.message_box {
  margin-bottom: 21px;
  resize: vertical;
}

.panel-title a:hover {
  color: #337ab7;
  cursor: pointer;
  text-decoration: none;
}

:checked + label .std_img {
  border: solid 2px #337ab7;
}

input.student_check[type=checkbox] {
  display: none;
}

.btn-category, .btn-new-activity, .btn-activity, .btn-clip {
  width: 100%;
  font-weight: bold !important;
  margin-bottom: 8% !important;
}

#category-container, .activity {
  display: none;
}
