<h1><%= @activity.name %></h1>

<table>
  <tr><td>Category:</td><td><%= @activity.activity_category.name %></td></tr>
  <tr><td>Classrooms:</td><td><%= @activity.classrooms.first.name %></td></tr>
  <tr><td><%= link_to 'Edit', edit_activity_path(@activity.id) %></td></tr>

</table>
