<section class="container-fluid">
  <% if !@report.nil? %>
    <%= form_for @report, url: student_report_path(@report.student,@report.date) do |f| %>
      <%= render "form_categories", f: f %>
    <% end %>
  <% end %>
</section>
