
<!-- suboption.option.activity.activity_category.name -->

<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			
			<% student = @report.nil? ? Student.find(params[:student_id]) : @report.student%>

			<!--  Header: -_------------------------>
			<h3 class="page-header">Relatórios Diários - <%= student.name %></h3>
			<!--  ---------------------------------->

			<!--  Messages: ------------------------->
			<%= render "messages/messages_collapse_bt", messages: student.messages.
			  where("message_students.read" => [false,nil]) %>
			<!--  ---------------------------------->

			<!--  Report page: --------------------->
			<%= render "report_page", report: @report %>
			<!--  ---------------------------------->

		</div>
	</div>
</div>
