
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">

			<% student = @report.nil? ? Student.find(params[:student_id]) : @report.student%>

			<!--  Header: -_------------------------>
			<h3 class="page-header">Relatórios Diários - <%= student.name %></h3>
			<!--  ---------------------------------->

			<!--  Messages: ------------------------->
			<% if current_user.role.name == "student" || current_user.role.name == "student_adjacent" %>
				<%= render "messages/messages_collapse_bt", messages: student.messages.
				  where("message_students.read" => [false,nil]) %>
			<% end %>
			<!--  ---------------------------------->

			<!--  Report page: --------------------->
			<%= render "report_page", report: @report %>
			<!--  ---------------------------------->

			<% if !@report.nil? && current_user.role.name != "student" &&
				current_user.role.name != "student_adjacent" %>
				<%= link_to edit_student_report_path(student,@report.date),
					class:"btn btn-primary btn-circle" do %>
					<i class="fa fa-pencil"></i>
				<% end %>
			<% end %>

		</div>
	</div>
</div>
